/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.nav-bar {
    font-family: Roboto;
    font-weight: lighter;
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: rgba(255,255,255,0.7);
    padding-top: 10px;
    box-sizing: border-box;
}

.nav-bar div:first-child {
  position: fixed;
  right: 50%;
  margin-right: 25px;
}

.nav-bar div:nth-child(2) {
  position: fixed;
  left: 50%;
  margin-left: 25px;
}

.nav-bar div:last-child {
  position: fixed;
  left: 50%;
  margin-left: 75px;
}

.nav-bar div a {
    margin: 0px 10px;
    color: #888;
    font-size: 16px;
    text-decoration: none;
    line-height: 30px;
}

.menu-link {
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
    background: $lightBlue;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s ease-in;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: #F1F1F1;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        background: #FFF;
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin: 0px;
    padding: 0px 25px;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-link-body {
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: Roboto;
    font-weight: 400;
    color: #6A8096;
}

/**
 * Posts
 */
.post-header {
    background: #FFF;
    // margin-bottom: $spacing-unit;

    h1 {
        // font-family: Roboto;
        // color: #333;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    padding: 25px 25px 0px 25px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    background: #FFF;
    padding: 25px;

    h1 {
        font-size: 38px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        font-size: 16px;
        font-family: Raleway;
        color: #444;
    }
}
